html, body {
     font-family: 'MS Sans Serif', 'Arial', sans-serif; /* Fallbacks for compatibility */
    background-color:#ffffff; /* Light Gray */
    color: #333333; /* Charcoal Gray */
    margin: 0;
    padding: 0;
    height: 120%;
    
}


.thumbnailwindow {
    font-family: 'MS Sans Serif', 'Arial', sans-serif; /* Fallbacks for compatibility */
    color:#333333; /* Text color */
    position: fixed;
    top: 50%; /* Adjust as necessary */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    
    height: 70%;
    background-color: #C5C5C5;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s ease, left 0.6s ease;
    z-index: 1; /* Make sure it's above other content */
}

.thumbnailborder{
    overflow: hidden; /* Prevent content from overflowing */
    font-family: 'MS Sans Serif', 'Arial', sans-serif; /* Fallbacks for compatibility */
    color:#FFFFFF; /* Text color */
    position: fixed;
    top: 1.5%; /* Adjust as necessary */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    background-color: rgb(0,0,132);
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s ease, left 0.6s ease;
    z-index: 6; /* Make sure it's above other content */
}

.thumbnailborder h2 {
    padding-top: 1%;
    padding-left: 1%;
    font-size: 1.5em; /* Adjust the font size */
    line-height: 0.5; /* Set line height for better spacing */
    margin: 0; /* Remove default margin */
}

.handimage{
    animation: expandAnimation 1s ease forwards;  /* Custom animation */
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 16%; /* Adjust as necessary */
    left: 2%;
    transform: translate(-50%, -50%);
    width: 46%;
    height: auto;
    z-index: 4; /* Make sure it's above other content */
}
.hand-image {
    position: relative;
    padding-left: 1%;
    width: 97%; /* Make the image take the full width of the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 4px; /* Optional: Add rounded corners to the image */
    margin-top: 0px; /* Space between the title and image */
}

@keyframes expandAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.kidimage{
    text-align: center;
    position: absolute;
    animation: expandAnimation 1s ease forwards;  /* Custom animation */
    opacity: 0;
    top: 76%; /* Adjust as necessary */
    left: 2%;
    transform: translate(-50%, -50%);
    width: 46%;
    height: auto;
    transition: transform 0.6s ease, left 0.6s ease;
    z-index: 4; /* Make sure it's above other content */
}

.kid-image {
    position: relative;
    padding-left: 1%;
    width: 97%; /* Make the image take the full width of the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 4px; /* Optional: Add rounded corners to the image */
    margin-top: 0px; /* Space between the title and image */
}
.kid-image:hover {
    cursor: pointer;
}

.witchimage{
    text-align: center;
    position: absolute;
    animation: expandAnimation 1s ease forwards;  /* Custom animation */
    opacity: 0;
    top:76%; /* Adjust as necessary */
    left: 52%;
    transform: translate(-50%, -50%);
    width: 43.5%;
    height: auto;
    transition: transform 0.6s ease, left 0.6s ease;
    z-index: 4; /* Make sure it's above other content */
}

.witch-image {
    position: relative;
    padding-left: 1%;
    width: 97%; /* Make the image take the full width of the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 4px; /* Optional: Add rounded corners to the image */
    margin-top: 0px; /* Space between the title and image */
}
.witch-image:hover {
    cursor: pointer;
}

.video-thumbnail{
    animation: expandAnimation 1s ease forwards;  /* Custom animation */
    opacity: 0;
    text-align: center;
    font-family: 'MS Sans Serif', 'Arial', sans-serif; /* Fallbacks for compatibility */
    color:#333333; /* Text color */
    position: relative;
    top: 28%; /* Adjust as necessary */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
  
    transition: transform 0.6s ease, left 0.6s ease;
    z-index: 5; /* Make sure it's above other content */
    
}


.video-thumbnail:hover .video {
    cursor: pointer;
    display: block; /* Show video on hover */
}
.video {
   
    position: absolute;
    top: 55%; /* Adjust as necessary */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    object-fit: contain; /* Maintain aspect ratio */
   
    position: fixed;
    z-index: 5; /* Make sure it's above other content */
}

.hand-image:hover {
    cursor: pointer;
}

.startbar {
    font-family: 'MS Sans Serif', 'Arial', sans-serif; /* Fallbacks for compatibility */
    color:#333333; /* Text color */
    position: fixed;
    top: 98%; /* Adjust as necessary */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 1%;
    background-color: #C5C5C5;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s ease, left 0.6s ease;
    z-index: 6; /* Make sure it's above other content */
}
.startbar h2 {
    padding-left: 12px;
    font-size: 1.5em; /* Adjust the font size */
    line-height: 0.5; /* Set line height for better spacing */
    margin: 0; /* Remove default margin */
}
#closeportfolio {
    position: absolute;
    width: 2.5;
    height: 3.5%;
    font-size: 1.5em; /* Adjust the font size */
    line-height: 0.5; /* Set line height for better spacing */
    overflow: hidden;
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s; /* Smooth transition for background color */
  position: fixed; /* Fixes the button to the viewport */
 top:0.5%; /* Distance from the bottom */
  left: 98%; /* Center horizontally */
  z-index: 7; /* Ensure it appears above other elements */
    background-color: rgb(189,189,189); /* Darker red on hover */
  }

  #closeportfolio:hover {
    background-color: #ff1a1a;

  }